parameters:
    autoload_files:
        - %rootDir%/../../../bin/.phpunit/phpunit-7.5-0/vendor/autoload.php
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    doctrine:
        objectManagerLoader: %rootDir%/../../../tests/phpstan/doctrine-orm-bootstrap.php
    excludes_analyse:
        - %rootDir%/../../../src/DataFixtures/*
        - %rootDir%/../../../src/Security/LoginFormAuthenticator.php
    level: 8
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'