parameters:
    autoload_files:
        - %rootDir%/../../../bin/.phpunit/phpunit-7.5-0/vendor/autoload.php
    level: 0
    # Prevents scanning given folders/files
    #excludes_analyse:
        #- %rootDir%/../../../src/Migrations/*