{% extends 'base.html.twig' %}

{% block title %}Select Address{% endblock %}

{% block body %}
    <h2>Select Address</h2>

    <p><a href="{{ path('address_add') }}">Add new address</a></p>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}